In [1]:
# Import librairies
import numpy as np
import pandas as pd

import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [2]:
# Import datasets
movies = pd.read_csv('ml-1m/movies.dat', sep='::', header=None, engine='python', encoding='latin-1')
users = pd.read_csv('ml-1m/users.dat', sep='::', header=None, engine='python', encoding='latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', header=None, engine='python', encoding='latin-1')

In [3]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [4]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [5]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [6]:
# Training_set & test_set preparation
training_set = pd.read_csv('ml-100k/u1.base', delimiter='\t', header=None)
test_set = pd.read_csv('ml-100k/u1.test', delimiter='\t', header=None)

In [7]:
training_set.head()

   0  1  2          3
0  1  1  5  874965758
1  1  2  3  876893171
2  1  3  4  878542960
3  1  4  3  876893119
4  1  5  3  889751712

In [8]:
test_set.head()

   0   1  2          3
0  1   6  5  887431973
1  1  10  3  875693118
2  1  12  5  878542960
3  1  14  5  874965706
4  1  17  3  875073198

In [9]:
# Transform dataframes to arrays
training_set = np.array(training_set, dtype='int')
test_set = np.array(test_set, dtype='int')

In [10]:
training_set[:5]

array([[        1,         1,         5, 874965758],
       [        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       [        1,         5,         3, 889751712]])

In [11]:
test_set[:5]

array([[        1,         6,         5, 887431973],
       [        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       [        1,        17,         3, 875073198]])

In [12]:
# Get the number of users & films
nb_users = int(max(max(training_set[:, 0]), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1]), max(test_set[:, 1])))

In [13]:
print('Number of users: {}\nNumber of movies: {}'.format(nb_users, nb_movies))

Number of users: 943
Number of movies: 1682

In [14]:
# Convert datas to matrix
def convert(data):
    new_data = []
    for id_users in range(1, nb_users+1):
        id_movies = data[data[:, 0] == id_users, 1]
        id_ratings = data[data[:, 0] == id_users, 2]
        ratings = np.zeros(nb_movies)
        ratings[id_movies-1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [15]:
training_set = convert(training_set)
test_set = convert(test_set)

In [16]:
training_set[0][0]

5.0

In [17]:
test_set[0][0]

0.0

In [18]:
# Convert datas to tensors
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [19]:
training_set[0]

tensor([5., 3., 4.,  ..., 0., 0., 0.])

In [20]:
test_set[0]

tensor([0., 0., 0.,  ..., 0., 0., 0.])

In [25]:
# Create the neurons network
class SAE(nn.Module):
    
    def __init__(self):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
        
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [26]:
# Instance class
sae = SAE()

In [27]:
# Criterion & optimizer
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr=0.01, weight_decay=0.5)

In [30]:
# Training
nb_epochs = 200

for epoch in range(1, nb_epochs + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies / float(torch.sum(target.data > 0)+1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.item() * mean_corrector)
            s += 1.
            optimizer.step()
    print('epoch: {}, Loss: {}'.format(epoch, train_loss/s))

epoch: 1, Loss: 1.7607659557801238
epoch: 2, Loss: 1.096450477990699
epoch: 3, Loss: 1.0532403592614283
epoch: 4, Loss: 1.0382185609567962
epoch: 5, Loss: 1.0310376309171847
epoch: 6, Loss: 1.0266541647937049
epoch: 7, Loss: 1.0239033228538925
epoch: 8, Loss: 1.0218336333070217
epoch: 9, Loss: 1.020944113399351
epoch: 10, Loss: 1.0196726866313186
epoch: 11, Loss: 1.0189782162706758
epoch: 12, Loss: 1.0181537160585732
epoch: 13, Loss: 1.0180544861818686
epoch: 14, Loss: 1.017577125259914
epoch: 15, Loss: 1.0171057047130045
epoch: 16, Loss: 1.0170217125011192
epoch: 17, Loss: 1.0165662463586052
epoch: 18, Loss: 1.0166250542536384
epoch: 19, Loss: 1.0164282518360326
epoch: 20, Loss: 1.0162050068726889
epoch: 21, Loss: 1.0162411627231325
epoch: 22, Loss: 1.0160402007304383
epoch: 23, Loss: 1.0159720278317468
epoch: 24, Loss: 1.0156495975131694
epoch: 25, Loss: 1.0158477197957914
epoch: 26, Loss: 1.0153458747675408
epoch: 27, Loss: 1.0152651116566385
epoch: 28, Loss: 1.0151695295366996
epoch: 29, Loss: 1.0125914798665354
epoch: 30, Loss: 1.0112254419976139
epoch: 31, Loss: 1.0098374857243264
epoch: 32, Loss: 1.0071687601964954
epoch: 33, Loss: 1.0066134331291763
epoch: 34, Loss: 1.0041823414407902
epoch: 35, Loss: 1.0034255979628959
epoch: 36, Loss: 1.0000961519112996
epoch: 37, Loss: 0.998315967990603
epoch: 38, Loss: 0.9960119059743101
epoch: 39, Loss: 0.9965362811003563
epoch: 40, Loss: 0.9932612711989778
epoch: 41, Loss: 0.9924684285471675
epoch: 42, Loss: 0.9896739411328604
epoch: 43, Loss: 0.9881630692824329
epoch: 44, Loss: 0.9869866287459323
epoch: 45, Loss: 0.9851652825179484
epoch: 46, Loss: 0.9848380683911248
epoch: 47, Loss: 0.9847379396354983
epoch: 48, Loss: 0.9796561806722596
epoch: 49, Loss: 0.983347133176706
epoch: 50, Loss: 0.9813680598788007
epoch: 51, Loss: 0.9805643583535655
epoch: 52, Loss: 0.9750176291238681
epoch: 53, Loss: 0.9763001089685734
epoch: 54, Loss: 0.9735804550438958
epoch: 55, Loss: 0.9750518076105552
epoch: 56, Loss: 0.976526646518683
epoch: 57, Loss: 0.9762305324605867
epoch: 58, Loss: 0.9693703768514174
epoch: 59, Loss: 0.9703308075385816
epoch: 60, Loss: 0.9672940819505694
epoch: 61, Loss: 0.9683600431024422
epoch: 62, Loss: 0.9662285393171499
epoch: 63, Loss: 0.9661594687144824
epoch: 64, Loss: 0.9619702060173755
epoch: 65, Loss: 0.9648846447210381
epoch: 66, Loss: 0.9607690786939026
epoch: 67, Loss: 0.9591940221782381
epoch: 68, Loss: 0.9574912140851176
epoch: 69, Loss: 0.9556806786643162
epoch: 70, Loss: 0.9521912907797013
epoch: 71, Loss: 0.9539558745730816
epoch: 72, Loss: 0.9520742506293973
epoch: 73, Loss: 0.9518901045549312
epoch: 74, Loss: 0.9498010975944969
epoch: 75, Loss: 0.9519636870179264
epoch: 76, Loss: 0.9492707713874768
epoch: 77, Loss: 0.9492402550210917
epoch: 78, Loss: 0.947342259297249
epoch: 79, Loss: 0.9454684784537783
epoch: 80, Loss: 0.9445560522915692
epoch: 81, Loss: 0.9442755237401307
epoch: 82, Loss: 0.94179217535936
epoch: 83, Loss: 0.9415745908316435
epoch: 84, Loss: 0.9415741326088627
epoch: 85, Loss: 0.940694442044377
epoch: 86, Loss: 0.9387473393176914
epoch: 87, Loss: 0.9404900632235019
epoch: 88, Loss: 0.9391302750919629
epoch: 89, Loss: 0.9393157113060983
epoch: 90, Loss: 0.936191882263469
epoch: 91, Loss: 0.9377011368414652
epoch: 92, Loss: 0.9362310123440798
epoch: 93, Loss: 0.9364596739411527
epoch: 94, Loss: 0.9359494711098915
epoch: 95, Loss: 0.9349600386972041
epoch: 96, Loss: 0.9342957656074217
epoch: 97, Loss: 0.9339124907803209
epoch: 98, Loss: 0.9333869612663032
epoch: 99, Loss: 0.9339336251741752
epoch: 100, Loss: 0.9330006421201223
epoch: 101, Loss: 0.93340329300577
epoch: 102, Loss: 0.9329647444880543
epoch: 103, Loss: 0.9315557619229027
epoch: 104, Loss: 0.9310371122901971
epoch: 105, Loss: 0.9317431445634502
epoch: 106, Loss: 0.9305589207964032
epoch: 107, Loss: 0.9308878641070114
epoch: 108, Loss: 0.9288098708182776
epoch: 109, Loss: 0.930883226191101
epoch: 110, Loss: 0.9294151069577821
epoch: 111, Loss: 0.9288491011293761
epoch: 112, Loss: 0.9283963386916204
epoch: 113, Loss: 0.9291518153162843
epoch: 114, Loss: 0.9279603574608435
epoch: 115, Loss: 0.9284069996605901
epoch: 116, Loss: 0.9268581966792021
epoch: 117, Loss: 0.9273864053795793
epoch: 118, Loss: 0.9279054687028232
epoch: 119, Loss: 0.9282404590076995
epoch: 120, Loss: 0.9264450694459004
epoch: 121, Loss: 0.9269474285241655
epoch: 122, Loss: 0.925922669304888
epoch: 123, Loss: 0.9271411625355461
epoch: 124, Loss: 0.925113046769086
epoch: 125, Loss: 0.9257450221864585
epoch: 126, Loss: 0.9248627312745696
epoch: 127, Loss: 0.9260555941044307
epoch: 128, Loss: 0.9238566102164564
epoch: 129, Loss: 0.9244662262423582
epoch: 130, Loss: 0.9232133812172995
epoch: 131, Loss: 0.9243283080733228
epoch: 132, Loss: 0.9236714975496083
epoch: 133, Loss: 0.9232878741062944
epoch: 134, Loss: 0.9225122633573295
epoch: 135, Loss: 0.9231296894512486
epoch: 136, Loss: 0.921714883244566
epoch: 137, Loss: 0.9234351289755164
epoch: 138, Loss: 0.921534550987058
epoch: 139, Loss: 0.9225280921336322
epoch: 140, Loss: 0.921796164334531
epoch: 141, Loss: 0.9220296967445489
epoch: 142, Loss: 0.9210441516680599
epoch: 143, Loss: 0.9216469252644014
epoch: 144, Loss: 0.9204689285227925
epoch: 145, Loss: 0.9216611662401331
epoch: 146, Loss: 0.9200164421101817
epoch: 147, Loss: 0.9209681748559472
epoch: 148, Loss: 0.9199000583441378
epoch: 149, Loss: 0.9202251756940044
epoch: 150, Loss: 0.91959603506181
epoch: 151, Loss: 0.9200421671836151
epoch: 152, Loss: 0.9191552054256081
epoch: 153, Loss: 0.9199134390915423
epoch: 154, Loss: 0.9184401320303678
epoch: 155, Loss: 0.9194995675667276
epoch: 156, Loss: 0.9177978179298125
epoch: 157, Loss: 0.9189901342812292
epoch: 158, Loss: 0.9181994283041822
epoch: 159, Loss: 0.9185898338550338
epoch: 160, Loss: 0.9178131689312062
epoch: 161, Loss: 0.9185054327147198
epoch: 162, Loss: 0.9171454640717267
epoch: 163, Loss: 0.9178645321954894
epoch: 164, Loss: 0.9170939961808797
epoch: 165, Loss: 0.9180457872883444
epoch: 166, Loss: 0.9168383440322276
epoch: 167, Loss: 0.917572956648133
epoch: 168, Loss: 0.9164262356107095
epoch: 169, Loss: 0.9173300606802297
epoch: 170, Loss: 0.9160652153498864
epoch: 171, Loss: 0.9169952943822665
epoch: 172, Loss: 0.9155525088176165
epoch: 173, Loss: 0.9163847257082229
epoch: 174, Loss: 0.9154216887939598
epoch: 175, Loss: 0.9164036314522801
epoch: 176, Loss: 0.9151406842079586
epoch: 177, Loss: 0.9164458960245444
epoch: 178, Loss: 0.9147487510476122
epoch: 179, Loss: 0.9159411978734225
epoch: 180, Loss: 0.9145783450489128
epoch: 181, Loss: 0.9156097480472735
epoch: 182, Loss: 0.9143551769214958
epoch: 183, Loss: 0.9149174804784496
epoch: 184, Loss: 0.914005073518608
epoch: 185, Loss: 0.9151915280536334
epoch: 186, Loss: 0.9137359267771045
epoch: 187, Loss: 0.9148817247625496
epoch: 188, Loss: 0.9135432895930048
epoch: 189, Loss: 0.9149696158657501
epoch: 190, Loss: 0.9133776010111561
epoch: 191, Loss: 0.9141220972753835
epoch: 192, Loss: 0.9134643529699706
epoch: 193, Loss: 0.9143203027500935
epoch: 194, Loss: 0.913020464808643
epoch: 195, Loss: 0.9141126865648299
epoch: 196, Loss: 0.9133949746721741
epoch: 197, Loss: 0.9138149316606095
epoch: 198, Loss: 0.9128481309221033
epoch: 199, Loss: 0.9134678654600688
epoch: 200, Loss: 0.9122246078490049

In [33]:
# Test
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies / float(torch.sum(target.data > 0)+1e-10)
        test_loss += np.sqrt(loss.item() * mean_corrector)
        s += 1.
print('Loss: {}'.format(test_loss/s))

Loss: 0.9555766771270394